@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/* chat section */
.chat button {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 0%;
  border: none;
  background-color: blue;
  right: 50px;
  bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
  box-sizing: border-box;
  margin: auto;
}

.chat #more {
  position: fixed;
  right: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
  background-color: burlywood;
  width: 300px;
  height: 400px;
  z-index: 1;
  bottom: 110px;
}
/* navbar section */
.navbar,
.web-name,
.options ul,
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar {
  position: fixed;
  z-index: 3;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 80px;
  background-color: #ffc017;
  border-bottom: 1px solid black;
}
.navbar .web-name span {
  font-size: 30px;
  font-weight: bold;
}
.navbar .web-name {
  font-size: x-large;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.options ul {
  list-style: none;
  justify-content: space-evenly;
}
.options ul li {
  margin: 10px;
}

button {
  padding: 10px;
  background-color: black;
  color: white;
  width: 100px;
  border-radius: 30px;
}

/* header section */

header .head {
  display: flex;
  width: 100%;
  background-color: #ffc017;
  height: 550px;
  padding: 0px 70px;
  border-bottom: 1px solid black;
}
.head .left-heading {
  position: absolute;
  font-size: 20px;
  width: 500px;
  height: 55vh;
  font-size: x-large;
  padding: 0px;
}
.head .left-heading .left1 {
  font-size: xx-large;
  overflow: hidden;
  text-overflow: clip;
  display: block;
}
.head .left2 {
  font-size: 1.2rem;
}
.head .left1,
.head .left2,
.head .left3 {
  margin: 10px;
}
.head .right-heading {
  position: absolute;
  width: 50vw;
  height: 55vh;
  margin: 50vw;
  padding: 50px 0px 0px;
}
.head .right-heading img {
  width: 400px;
  height: 400px;
}

/* main section */
main {
  margin: 40px 80px 0px 80px;
}
.trend {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  margin-bottom: 10px;
}
.trend span {
  border: 1px solid grey;
  border-radius: 50%;
  color: grey;
}
.trend p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.trending-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.tflex {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.tflex-left {
  color: rgb(184, 175, 175);
  font-size: 1.8rem;
  font-weight: bold;
}
.tflex-right {
  width: 300px;
  height: 130px;
}

.tflex .author,
.blogs .author {
  font-size: 1rem;
}
.tflex .title {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
  font-family: "Helvetica", arial, sans-serif;
}
.tflex span,
.blogs span {
  font-size: 10px;
}
.hrcss {
  border: 1px solid rgb(202, 194, 194);
  width: 100%;
  margin: 0px auto auto auto;
}
/* discover sectin */

.blogread-discover {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 50px 70px;
}
/* right side of blog read discover */
.sec {
  background-color: white;
  height: 500px;
  width: 30%;
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  right: 0px;
  order: 2;

  margin-bottom: 30px;
}
.tags {
  margin: 30px 50px 30px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: baseline;
}
.tags button {
  background-color: white;
  color: gray;
  border-radius: 5%;
  border: 1px solid rgb(206, 200, 200);
  padding: 7px 14px;
  font-size: 0.8rem;
  width: auto;
}
.foot_hr {
  border: 0.1px solid rgb(224, 224, 224);
}
.foot {
  margin-top: 20px;
}
.foot ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  color: gray;
  gap: 20px;
}
/* blogread section (left side of discover) */

.blogread {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-right: 70px;
  order: 1;
}

.blog {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin: auto;
}

.blogs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  height: 150px;
}
.blogs .title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
  font-family: "Helvetica", arial, sans-serif;
}
.blogs a {
  color: black;
  text-decoration: none;
}
.blogs .desc {
  font-size: 1rem;
  color: grey;
}

.blogs .more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: rgb(83, 82, 82);
}
.blogs .more span {
  font-size: 1rem;
  margin-right: 10px;
}
.blogs .more .blog_more_right span {
  font-size: 1.3rem;
  color: black;
}
.blog-image {
  width: 100px;
  aspect-ratio: auto 100 / 100;
  height: 100px;
}
.blog-img {
  width: 200px;
  height: 150px;
  object-position: 15% 100%;
}
/* chat section */

@media screen and (max-width: 768px) {
  .blogread-discover {
    flex-direction: column;
  }
  .blogread {
    width: 80%;
    order: 2;
  }
  .sec {
    order: 2;
    position: static;
    width: 80%;
    height: auto;
  }
}
