* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
/* navbar section */
nav {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 70px;
  flex-grow: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.062);
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .icon {
  margin-bottom: 110px;
  margin-top: 30px;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  margin: 30px 0px;
}
.navbar .user_button button {
  margin-top: 100px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 1rem;
}
.navbar .user_button .a {
  display: none;
}
.navbar .user_button button:hover .a {
  display: block;
}

/* main section */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: auto 0px auto 150px;
}

.aside .left,
.aside .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left {
  width: 65%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-right: 150px;
}
.keepup button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: black;
  background-color: lightgrey;
  border: none;
  margin-right: 10px;
}
.keepup a {
  color: black;
  text-decoration: none;
}
main .recommend_hr {
  border: 1px solid rgb(212, 206, 206);
  margin: 30px 0px;
}
.follow button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 7px;
}
.blogread {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 70px;
  order: 1;
}

.blog {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin: auto;
}

.blogs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  height: 150px;
}
.blogs .title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
  font-family: "Helvetica", arial, sans-serif;
}
.blogs a {
  color: black;
  text-decoration: none;
}
.blogs .desc {
  font-size: 1rem;
  color: grey;
}

.blogs .more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: rgb(83, 82, 82);
}
.blogs .more span {
  font-size: 1rem;
  margin-right: 10px;
}
.blogs .more .blog_more_right span {
  font-size: 1.3rem;
  color: black;
}
.blog-image {
  width: 100px;
  aspect-ratio: auto 100 / 100;
  height: 100px;
}
.blog-img {
  width: 200px;
  height: 150px;
  object-position: 15% 100%;
}

main #between {
  border: 1px solid lightgrey;
}
/* right side */
.right {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 50px;
}

.right .upgrade {
  margin-top: 50px;
}

.right .upgrade button,
.right .search {
  width: 300px;
  height: 38px;
}
.right .upgrade button {
  border-radius: 99em;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
}

.right .search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(126, 119, 119, 0.247);
  border-radius: 99em;
  padding: 5px 10px;
}

.right .search span {
  font-size: 1.4rem;
  color: rgba(19, 18, 18, 0.87);
}

.right .search textarea {
  outline: none;
  border: none;
  resize: none;
  padding: 5px 10px 3px 7px;
  height: 30px;
  border: none;
}

.right .search textarea::placeholder {
  margin: 10px 0px 0px;
  font-size: 1rem;
  color: rgba(19, 18, 18, 0.486);
}
.recommend-topic {
  margin-right: 160px;
}

.to-follow {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  background-color: aqua;
  height: 400px;
  width: 300px;
  top: 10px;
}

@media screen and (max-width: 768px) {
  .right {
    display: none;
  }
}
