* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

nav {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 70px;
  flex-grow: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.062);
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .icon {
  margin-bottom: 110px;
  margin-top: 30px;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  margin: 30px 0px;
}
.navbar .user_button button {
  margin-top: 100px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.navbar .user_button .a {
  display: none;
}
.navbar .user_button button:hover .a {
  display: block;
}

/* main section */
main {
  padding: 50px 100px 0px 120px;
  box-sizing: border-box;
  background-color: blueviolet;
  flex-grow: 9;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  background-color: cadetblue;
  width: 100%;
  height: 150px;
}

.blogs {
  width: 70%;
  background-color: chartreuse;
}

/* discover(aside) section */
aside {
  flex-grow: 4;
  box-sizing: border-box;
  padding: 50px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  position: relative;
}

aside button {
  flex-grow: 0;
  margin-bottom: 20px;
}
aside .search {
  flex-grow: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

aside .recommend-topic {
  position: relative;
  height: 300px;
}

.to-follow {
  background-color: burlywood;
  height: 500px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
