<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/static/image/logo.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/static/base.css">
    <title>Medium</title>
</head>
<body>
    <!-- navbar section start -->
    <nav>
    <div class="navbar">
        <div class="web-name">
            <span class="material-icons">animation</span>
            <h1>Medium</h1>        
        </div>
        <div class="options">
            <ul>
                <li class="option option1">Our Story</li>
                <li class="option option2">Membership</li>
                <a href="/write_blog"><li class="option option3">Write</li></a>
                <a href="/login"><li class="option option4">Sign In</li></a>
                <li class="option option5"><button> Get started</button></li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- navbar section end-->

    <!-- header section start -->
    <header>
        <div class="head">
            <div class="left-heading">
                <div class="left left1"><h1>Medium is a place to write, read, and connect</h1></div>
                <div class="left left2"><p>It's easy and free to post your thinking on any topic and  connect with millions of readers.</p></div>
                <div class="left left3">
                    <button>Start Writing</button>
                </div>          
            </div>
            <div class="right-heading">
                <img src="/static/image/4_home.png" alt="">
            </div>
        </div>
    </header>

    <main>
            <div class="trend">
                <span class="material-icons">trending_up</span>
                <p>Trending on Medium</p>
            </div>
            <div class="trending-flex">
                {% for post in posts %}
                {% if loop.index0 == 6 %}
                {%break%}
                {%endif%} 
                
                <div class="tflex tflex1">
                    <div class="tflex-left">{{loop.index}}</div>
                    <div class="tflex-right">
                        <div class="author">{% for i in user_info_author%}   
                            {% if i[0] == post[5] %}
                                {{ i[3]}}
                            {% endif %}
                        {% endfor %}</div>
                        <div class="title"><p>{{post[1]}}</p></div>
                        <span>{{post[7]}}</span>
                    </div>
                </div>
              
                {% endfor %}
            </div>
    </main>
    <hr class="hrcss">

    <section class="blogread-discover">

        <div class="sec">
            <div class="discover">
               <p style="font-size: 16px;"> DISCOVER MORE OF WHAT MATTERS TO YOU </p>
               <div class="tags"> 
                   {% for i in li %}
                   <button>{{i}}</button>
                   {%endfor%}
                   
               </div>
               <hr class="foot_hr">
               <div class="foot">
                   <ul>
                   <li>Help</li>
                   <li>Status</li>
                   <li>Writers</li>
                   <li>Blog</li>
                   <li>Careers</li>
                   <li>Privacy</li>
                   <li>Terms</li>
                   <li>About</li></ul>
               </div>
            </div>
        </div>
        <div class="blogread">
        {% for post in posts %}
        
        <div class="blog">
            <div class="blogs">
                <div class="author">{% for i in user_info_author%}   
                    {% if i[0] == post[5] %}
                        {{ i[3]}}
                    {% endif %}
                    {% endfor %}
                </div>
                <a target="_blank" href="/view_post/{{post[1]}}"><div class="title"><p>{{post[1]}}</p></div></a>
                <div class="desc">{{post[2]}}</div>
                <div class="more">
                    
                    <div class="blog_more blog_more_left ">
                        <span>{{post[7]}}</span>
                        <span>8 min read</span>
                        <span>tag</span>
                    </div>
                  
                    {%if post[0] in li %}   
                        <a href="/like_post/{{post[0]}}">
                          <div class="blog_more_sec blog_more_right">
                              <span class="material-icons">
                            bookmark
                            </span>
                        </div>
                        </a>
                    {% else %}
                        <a href="/like_post/{{post[0]}}">
                          <div class="blog_more_sec blog_more_right">
                              <span class="material-icons">
                            bookmark_border
                            </span>
                        </div>
                      </a>
                    {% endif %}
                </div>
            </div>
            <div class="blog-image">
            
                {%for a,b in img_dic.items()%}
                {% if b %}
                    {%if post[0] == a%}
                    
                    <img class="blog-img" src="data:;base64,{{b}}" alt="image">
                    {%endif%}
                {%else%}
                    image not found
                {%endif%}
                {%endfor%}

            </div>
        </div>
        
        {% endfor %}
        </div>
    
    </section>
    <!-- header section end -->
</body>
</html>