<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/static/base.css">
    <title>Medium</title>
</head>
<body>
    <!-- navbar section start -->
    <nav>
    <div class="navbar">
        <div class="web-name">
            <span class="material-icons">animation</span>
            <h1>Medium</h1>        
        </div>
        <div class="options">
            <ul>
                <li class="option option1">Our Story</li>
                <li class="option option2">Membership</li>
                <li class="option option3">Write</li>
                <a href="/login"><li class="option option4">Sign In</li></a>
                <li class="option option5"><button> Get started</button></li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- navbar section end-->

    <!-- header section start -->
    <header>
        <div class="head">
            <div class="left-heading">
                <div class="left left1"><h1>Medium is a place to write, read, and connect</h1></div>
                <div class="left left2"><p>It's easy and free to post your thinking on any topic and  connect with millions of readers.</p></div>
                <div class="left left3">
                    <button>Start Writing</button>
                </div>          
            </div>
            <div class="right-heading">
                <img src="/static/image/4_home.png" alt="">
            </div>
        </div>
    </header>

    <main>
            <div class="trend">
                <span class="material-icons">trending_up</span>
                <p>Trending on Medium</p>
            </div>
            <div class="trending-flex">
                {% for post in posts %}
                        
                <div class="tflex tflex1">
                    <h3>{% for i in user_info_author%}   
                        {% if i[0] == post[5] %}
                            {{ i[3]}}
                        {% endif %}
                     {% endfor %}</h3>
                    <p>{{post[1]}}</p>
                    <span>date</span>

                </div>
              
                {% endfor %}
            </div>
    </main>
    <hr>

    <section class="blogread-discover">
        <div class="blogread">
        {% for post in posts %}
        {{post[0]}}
        
        <div class="blog">
            <div class="blogs">
                <h2>Author name</h2>
                <h6>Blog name</h6>
                <p>description</p>
                <p>date</p>
            </div>
            <div class="blog-img">
                <img src="" alt="">
                img
            </div>
        </div>
        
        {% endfor %}
        </div>
    
    <div class="sec">
        <div class="discover">
            relationship
        </div>
    </div>
    </section>
    <!-- header section end -->
</body>
</html>