<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <title>Base(after login)</title>
</head>
<body>
    <section class="whole-section">
    <nav>
        <div class="navbar">
            <div class="icon"><span class="material-icons">animation</span></div>
            <ul>
                <li><span class="material-icons">home</span></li>
                <li><span class="material-icons">notifications</span></li>
                <li><span class="material-icons">bookmarks</span></li>
                <li><span class="material-icons">auto_stories</span></li>
                <li><span class="material-icons">edit_note</span></li>
            </ul>
            <button>p</button>
        </div>
    </nav>
    <main>
        <div class="keepup"> 
            <a href="">
                <button>+</button>Keep up with the latest in any topic
            </a>
        </div>
        <div class="follow">
            <button>py</button>
        </div>
        <div class="remmond">recommended</div>
        {% for post in posts %}
        {{post[0]}}
        {% endfor %}
        <div class="blog">
            <div class="blogs">
                <h2>Author name</h2>
                <h6>Blog name</h6>
                <p>description</p>
                <p>date</p>
            </div>
            <div class="blog-img">
                <img src="" alt="">
                img
            </div>
        </div>
        <div class="blog">
            <div class="blogs">
                <h2>Author name</h2>
                <h6>Blog name</h6>
                <p>description</p>
                <p>date</p>
            </div>
            <div class="blog-img">
                <img src="" alt="">
                img
            </div>
        </div>
        <div class="blog">
            <div class="blogs">
                <h2>Author name</h2>
                <h6>Blog name</h6>
                <p>description</p>
                <p>date</p>
            </div>
            <div class="blog-img">
                <img src="" alt="">
                img
            </div>
        </div>
        <div class="blog">
            <div class="blogs">
                <h2>Author name</h2>
                <h6>Blog name</h6>
                <p>description</p>
                <p>date</p>
            </div>
            <div class="blog-img">
                <img src="" alt="">
                img
            </div>
        </div>

        <div class="blog">
            <div class="blogs">
                <h2>Author name</h2>
                <h6>Blog name</h6>
                <p>description</p>
                <p>date</p>
            </div>
            <div class="blog-img">
                <img src="" alt="">
                img
            </div>
        </div>
        <div class="blog">
            <div class="blogs">
                <h2>Author name</h2>
                <h6>Blog name</h6>
                <p>description</p>
                <p>date</p>
            </div>
            <div class="blog-img">
                <img src="" alt="">
                img
            </div>
        </div>
       
        <div class="blog">
            <div class="blogs">
                <h2>Author name</h2>
                <h6>Blog name</h6>
                <p>description</p>
                <p>date</p>
            </div>
            <div class="blog-img">
                <img src="" alt="">
                img
            </div>
        </div> <div class="blog">
            <div class="blogs">
                <h2>Author name</h2>
                <h6>Blog name</h6>
                <p>description</p>
                <p>date</p>
            </div>
            <div class="blog-img">
                <img src="" alt="">
                img
            </div>
        </div> <div class="blog">
            <div class="blogs">
                <h2>Author name</h2>
                <h6>Blog name</h6>
                <p>description</p>
                <p>date</p>
            </div>
            <div class="blog-img">
                <img src="" alt="">
                img
            </div>
        </div>
       
       <div></div>
    </main>
    <aside>
        <div><button>Upgrade</button></div>
        <div class="search">
            <button>search</button>
            <textarea name="" id="" placeholder="Search"></textarea>
        </div>
        <div class="recommend-topic">Recommended topics</div>
        <div class="to-follow">Who to Follow</div>
        
    </aside>
    </section>
</body>
</html>